<!DOCTYPE html>
<html>
	{{> head}}
	<body class="sg-single-pattern">

		{{> body}}

		<script type="text/html" id="sg-pattern-html"> {{ patternHTML }} </script>
		<script type="text/html" id="sg-pattern-css"> {{ patternCSS }} </script>

		<script src="{{assets}}/js/styleguide/postmessage.js"></script>
		<script src="{{assets}}/js/annotations.js"></script>
		<script src="{{assets}}/js/styleguide/annotations-pattern.js"></script>
		<script src="{{assets}}/js/styleguide/code-pattern.js"></script>
	</body>
</html>
